<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Product Manager</title>
	</head>
	<body align="center">
		<h1>Product Management</h1>
		<a href="new_product.html">Add New Product</a>
		<br><br>
		<table border="1" align="center" cellpadding="10">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Brand</th>
					<th>Made IN</th>
					<th>Price</th>
					<th>Activities</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.id}">1</td>
					<td th:text="${product.name}">Muknah</td>
					<td th:text="${product.brand}">original</td>
					<td th:text="${product.madein}">jakarta</td>
					<td th:text="${product.price}">135</td>
					<td>
						<a th:href="@{'/edit/' +${product.id}}">Edit</a>
						<a th:href="@{'/delete/' +${product.id}}">Delete</a>
					</td>
				</tr>
				<tr th:each="product : ${listProducts}">
					<td th:text="${product.id}">2</td>
					<td th:text="${product.name}">baju</td>
					<td th:text="${product.brand}">original</td>
					<td th:text="${product.madein}">aprika</td>
					<td th:text="${product.price}">165</td>
					<td>
						<a th:href="@{'/edit/' +${product.id}}">Edit</a>
						<a th:href="@{'/delete/' +${product.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>